{% extends '_base.html' %}

{% block style %}

{% endblock %}

{% block page_title %}
products list
{% endblock %}

{% block content %}

    {% for product in products %}
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <p><span class="price">{{ product.price }}</span> <span class="currency">ریال</span></p>
        <button onclick="removeZero()">Toggle Zero</button>
        <a href="{{ product.get_absolute_url }}"><button>جزئیات</button></a>

    {% endfor %}
    <script src="removeZero.js"></script>

{% endblock %}
